<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Player Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action='/player' method='POST'>
    Name: <input type = "text" name="name" /><br/>
    Create Username: <input type ="text" name="username" /><br>
    Create Password: <input type ="text" name="password" /><br>
    <input type="submit" name="" value="SignUp"/>
    </form>
</body>
</html>